ChallengeResponseAuthentication no
UsePAM yes
X11Forwarding yes
PrintMotd no
Subsystem       sftp    /usr/lib/openssh/sftp-server
PermitRootLogin yes
PasswordAuthentication no
HostKey /etc/ssh/ssh_host_ed25519_key
